<style>
    
    
  

</style>

<div class="main-content">
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid" >
        <div class="container" >

    <dl class="aside">
        <dt><strong>¿De que clase de leche tienen?</strong></dt>
        <dd>-> Tenemos entera, deslactosada, light</dd>
        <dt><strong>¿Qué horario tienen?</strong></dt>
        <dd>-> Todos los días de 9am a 9pm</dd>
        <dt><strong>¿Cuentan con servicio a domicilio?</strong></dt>
        <dd>-> Unicamente en zona centro</dd>
        <dt><strong>¿De donde obtienen el café?</strong></dt>
        <dd>-> De una mezcla de Chiapas, Veracruz y Oaxaca con un tostado intenso</dd>
        <img src="../../assets/img/questions.png"  alt="">
      </dl>
      
      
    
      

      </div>
      </div>
</div>
<div class="jumbotron jumbotron-fluid" fxLayout="column" fxLayoutAlign="center center">
    <div class="container">
      <li>
        <a href="facebook.com"><img src="../../assets/img/facebook.png" width="30px" height="30px" alt="facebook"></a> |
        <a href="instagram.com"><img src="../../assets/img/instagram.png" width="30px" height="30px" alt="instagram"></a> |
        <a href="twitter.com"><img src="../../assets/img/twitter.png" width="30px" height="30px" alt="twitter"></a>
      </li>
    </div>
  </div>
</div>
