<footer class="footer ">
    <div class="container-fluid">
        
        <div class="container" class="ultimaTabla">

            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <mat-list>
                    <mat-list-item><strong>CAFEXHITO</strong></mat-list-item>
                    <mat-list-item> Nuestra empresa </mat-list-item>
                    <mat-list-item> Nuestra herencia </mat-list-item>
                    <mat-list-item> Boletines de prensa</mat-list-item>
                    <mat-list-item>Trabaja con nosotros</mat-list-item>
        
                  </mat-list>
                </div>
                <div class="col-sm">
                  <mat-list>
                    <mat-list-item><strong>CAFEXHITO REWARDS</strong></mat-list-item>
                    <mat-list-item> Cafexhito Rewards </mat-list-item>
                    <mat-list-item> Mi Cuenta </mat-list-item>
                    <mat-list-item> Más Inforación</mat-list-item>
        
                  </mat-list>
                </div>
                <div class="col-sm">
                  <mat-list>
                    <mat-list-item><strong>SERVICIO AL CLIENTE</strong></mat-list-item>
                    <mat-list-item> Contáctanos </mat-list-item>
                    <mat-list-item> Preguntas frecuentes </mat-list-item>
                    <mat-list-item> Facturas electrónicas</mat-list-item>
        
                  </mat-list>
                </div>
                <div class="col-sm">
                  <img src="../../assets/img/mapa.png" width="350px" height="300px" alt="">
                </div>
              </div>
            </div>
          </div>

        <div class="copyright pull-right" style="text-align: center;">
            &copy;
            {{test | date: 'yyyy'}}, 
             Café CAFEXHITO, Todos los Derechos Reservados
        </div>
    </div>
</footer>
