<section class="row mt-5">
    <div class="col">
        <app-modal></app-modal>
     {{isAdmin}}
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Existencia</th>
            <th scope="col">Precio</th>
            <th scope="col">Oferta</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{producto.nombre}}</td>
                <td>{{producto.tipo}}</td>
                <td>{{producto.existencia}}</td>
                <td>${{producto.precio}}</td>
                <td>{{producto.oferta == 1 ? 'Sí': 'No'}}</td>
                <td>

                </td>
                <td>
                    <button class="btn btn-primary"  data-toggle="modal" data-target="#modalproducto" (click)="onPreUpdateProducto(producto)">Actualizar</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="onDeleteProducto(producto.id)">Eliminar </button>
                </td>
              </tr>
        </tbody>
      </table>
    </div>
  </section>


<!--{{productos|json}}-->
