<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" routerLink="/">{{app_name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 <!---  LOGGED:{{isLogged}}-->
    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"  >
              <a class="nav-link" routerLink="/">
                <span class="material-icons">
                    home
                    </span>
               Inicio
              </a>
            </li>
          
          </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"  *ngIf="isLogged">
          <a class="nav-link" routerLink="/offers"><span class="material-icons">
            local_offer
            </span>
            Ofertas
          </a>
        </li>
      
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"  *ngIf="isLogged">
          <a class="nav-link" routerLink="/bebidas"><span class="material-icons">
            free_breakfast
            </span>
            Bebidas
          </a>
        </li>
      
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"  *ngIf="isLogged">
          <a class="nav-link" routerLink="/comida"><span class="material-icons">
            menu_book
            </span>
            Comida
          </a>
        </li>
      
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isLogged" >
            
          <a class="nav-link" routerLink="/users/registrer">Registrarse <span class="material-icons">
            how_to_reg
            </span>
          </a>
        </li>
       
        
        <li class="nav-item" *ngIf="isLogged && isAdmin" >
            <a class="nav-link" routerLink="/users/profile"><i class="fa fa-user-o" aria-hidden="true"> Admin</i></a>
          </li>
        <li class="nav-item" *ngIf="isLogged && !isAdmin">

          <a class="nav-link" routerLink="/users/profile"><i class="fa fa-user" aria-hidden="true"> Perfil</i></a>
        </li>
        <li class="nav-item" *ngIf="isLogged && isAdmin">
          <a class="nav-link" routerLink="/admin/cafes"><i class="fa fa-th-list" aria-hidden="true"> Lista Productos</i></a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link" routerLink="/users/login">login<span class="material-icons">
            login
            </span>
          </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
           
       <a  class="nav-link" routerLink="/" (click)="onLogout()"><i class="fa fa-sign-out" aria-hidden="true"> Logout</i>

       </a>
        </li>
      </ul>
    </div>
  </nav>
 