<br>
<h1>Datos Personales</h1>
<br>
<form #personaForm="ngForm">

  <input type="hidden" name="$keyRegistro" #$keyRegistro="ngModel"
    [(ngModel)]="personaService.selectedPersona.$keyRegistro">

  <label for="num_identificacion"><b>num_identificacion*</b></label>

  <input class="form-control" id="num_identificacion" name="num_identificacion" #num_identificacion="ngModel"
    [(ngModel)]="personaService.selectedPersona.num_identificacion">

  <br>
  <label for="nombre"><b>nombre*</b></label>
  <input type="text" class="form-control" name="nombre" id="nombre" #nombre="ngModel"
    [(ngModel)]="personaService.selectedPersona.nombre">
  <br>

  <label for="apellido"><b>apellido*</b></label>
  <input type="text" class="form-control" name="apellido" id="apellido" #apellido="ngModel"
    [(ngModel)]="personaService.selectedPersona.apellido">
  <br>
  <label for="telefono"><b>telefono*</b></label>
  <input type="text" class="form-control" name="telefono" id="telefono" #telefono="ngModel"
    [(ngModel)]="personaService.selectedPersona.telefono">
  <br>
  <label for="direccion"><b>direccion*</b></label>
  <input type="text" class="form-control" name="direccion" id="direccion" #direccion="ngModel"
    [(ngModel)]="personaService.selectedPersona.direccion">
  <br>

  <div class="text-center">
    <div class="btn-group btn-group-sm  text-center">
      <button class="btn btn-outline-primary form-control" type="submit" (click)="onSubmit(personaForm)">
        Agregar persona
      </button>

    </div>
  </div>


</form>