<app-loading *ngIf="this.bandera"></app-loading>
<section id="productos" class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let producto of productos">
          <div class="card_book">
           <div class="card">
              <div class="card-body text-center">
                <p>
                  <img class="img-fluid" src="{{producto.imagen}}" alt="{{producto.nombre}}">
                </p>
                <h4 routerLink="/producto/{{producto.id}}" class="card-title">{{producto.nombre}}</h4>
                <p class="card-text">
                  {{producto.descripcion }}
                </p>
                <div class="container-precio-idioma">
                  <p class="badge badge-info">
                    ${{producto.precio}}
                  </p>
                  <p class="badge badge-info">
                    {{producto.tipo}}
                  </p>
                </div>
                <a href="{{producto.link_facebook}}" class="btn btn-block btn-primary" target="_blank">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  