<style>
  .fondo {
    background-color: hsl(180, 50%, 80%);
  }
  </style>

<div class="jumbotron jumbotron-fluid" div fxLayout="column" fxLayoutAlign="center none">
  <div class="container">
    <div class="container">
      <div class="row" div fxLayout="row" fxLayoutAlign="center none">
        <div class="col-sm">

          <header>
            <h1 style="text-align: center;"><strong>CAFEXHITO</strong></h1>
          </header>
          <p style="text-align: center;" class="fondo">Somos una empresa 100% mexicana que se dedica a la producción
            de café gourmet en diferentes presentaciones con un alto valor agregado.

            Para Cafexhito® la ayuda, entrega y pasión de cada uno de los cultivadores e integrantes origina
            una innovación en el producto y servicio, esto hace que nuestra cafetería compita con cualquiera del
            mundo.

            Nos proclamamos innovadores y únicos, lo reflejamos en la perfección de los productos desarrollados con
            tecnología propia, siempre pensando en los gustos y peticiones de nuestros clientes.</p>

        </div>
      </div>

      <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" fxLayout="row"
          fxLayoutAlign="center center">
          <div class="carousel-inner">
            <div class="carousel-item active" style="width: 2000px; height: 500px;">
              <img class="d-block w-70" src="../../assets/img/tazas.jpg" alt="">

            </div>
            <div class="carousel-item" style="width: 1000px; height: 500px;">
              <img class="d-block w-70" src="../../assets/img/alitas.jpg" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid" fxLayout="column" fxLayoutAlign="center none">
  <div class="container">
    <h1 class="display-3"></h1>
    <div class="container">
      <div class="row">
        <div class="col-sm" fxLayout="column" fxLayoutAlign="center center">

          <p></p>
          <img src="../../assets/img/menu.jpg" width="450px" height="300px" alt="">
          <hr>
          <img src="../../assets/img/precios.jpg" width="450px" height="300px" alt="">
          <hr>
          <img src="../../assets/img/otromenu.jpg" width="450px" height="300px" alt="">
        </div>
        <div class="col-sm" fxLayout="column" fxLayoutAlign="center center">

          <p></p>
          <img src="../../assets/img/promo-miercoles.jpg" width="500px" height="300px" alt="">
          <hr>
          <img src="../../assets/img/combo.jpg" width="500px" height="300px" alt="">
          <hr>
          <img src="../../assets/img/mañanero.jpg" width="500px" height="300px" alt="">
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">


        </div>
      </div>
    </div>

    <div class="container">
      <li>
        <a href="facebook.com"><img src="../../assets/img/facebook.png" width="30px" height="30px" alt="facebook"></a> |
        <a href="instagram.com"><img src="../../assets/img/instagram.png" width="30px" height="30px"
            alt="instagram"></a>
        |
        <a href="twitter.com"><img src="../../assets/img/twitter.png" width="30px" height="30px" alt="twitter"></a>
      </li>
    </div>

    
  </div>
</div>