<div class="main-content">
  <div class="container-fluid">
    <div class="container" >
        <h1 class="display-3"></h1>
        <div class="container" >
            
                <div class="col-sm" style="text-align: center;" >
                    <h1><strong>MISIÓN</strong></h1>
                    <p>La calidad total en el café es nuestra única misión, desde la selección más discriminatoria del
                        mejor grano, las mejores condiciones de almacenamiento y los tuestes más finos, hasta la
                        selección del mejor empaque donde quede al máximo la calidad, el aroma y frescura con que el
                        cliente lo recibe.

                        Nunca caer en prácticas comerciales que involucren el sacrificar calidad, procesos y frescura
                        para entrar a un mercado totalmente saturado donde lo único que conseguiremos es el desprestigio
                        de nuestra empresa.</p>
                </div>
                <div class="row" >
                    <div class="col-sm" style="text-align: center;" >
                        <img src="../../assets/img/mision.jpg" width="300px" height="300px" alt="">
                    </div>
                </div>
                
            
        </div>
        <hr>
        <div class="container" >
            <div class="col-sm" style="text-align: center;" >
                <h1><strong>VISIÓN</strong></h1>
                <p>Posicionar el café mexicano como uno de los mejores del mundo a través de la utilización de alta
                    tecnología,
                    materia prima de la mejor calidad y personal altamente calificado.</p>

            </div>
            <div class="row" style="text-align: center;" >
                <div class="col-sm">
                    <img src="../../assets/img/vision.jpg" width="500px" height="300px" alt="">
                </div>
               
            </div>
        </div>
        <hr>
        <div class="container" >
            <div class="row">
                <div class="col-sm">
                    <h1><strong>VALORES</strong></h1>
                    <li><a><strong>COMPROMISO.</strong> Con nuestro país, con los clientes, con nosotros mismos, tenemos
                            una gran responsabilidad al ser embajadores del café mexicano en el mundo.</a></li>
                    <li><a><strong>PASIÓN.</strong>Es nuestro motivador a ser siempre mejores, con amor a lo que
                            hacemos, a cada detalle, la pasión que nos lleva al éxito continuo.</a></li>
                    <li><a><strong>CALIDAD.</strong>Este punto radica desde la perfección en la siembra del café, la
                            cosecha, la selección, el tueste y el empaque hasta la innovación en la ejecución de los
                            productos para que el cliente siempre tenga lo mejor.</a></li>

                </div>
                <div class="col-sm">
                    <h1></h1>
                    <h1></h1>
                    <li><a><strong>ATENCIÓN AL CLIENTE.</strong>La parte más importante para nosotros es que disfrutes
                            de la mejor atención y calidez, completando la experiencia con un delicioso café 100%
                            mexicano. </a></li>
                    <li><a><strong>PERFECCIÓN.</strong> A través del desarrollo de cada uno de nuestros productos y
                            capacitando constantemente para que los baristas siempre entreguen lo mejor de sí en cada
                            taza y en el inigualable servicio.</a></li>
                    <li><a><strong>TRABAJO EN EQUIPO.</strong>Obteniendo lo mejor de cada persona a favor de la empresa
                            y mejorando constantemente, resulta una sinergia que se refleja en el servicio al cliente y
                            la calidad en el producto.</a></li>
                </div>
            </div>

        </div>
    </div>
  </div>
  <br>
  
</div>
<div class="jumbotron jumbotron-fluid" fxLayout="column" fxLayoutAlign="center center">
    <div class="container">
      <li>
        <a href="facebook.com"><img src="../../assets/img/facebook.png" width="30px" height="30px" alt="facebook"></a> |
        <a href="instagram.com"><img src="../../assets/img/instagram.png" width="30px" height="30px" alt="instagram"></a> |
        <a href="twitter.com"><img src="../../assets/img/twitter.png" width="30px" height="30px" alt="twitter"></a>
      </li>
    </div>
  </div>
