<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
                  <br>
                  <h1>Datos Personales</h1>
                  <br>
            
                  <form >
  
                      <input type="hidden" name="$keyRegistro"
                        [(ngModel)]="personaService.selectedPersona.$keyRegistro">
                    
                      <label for="num_identificacion"><b>num_identificacion*</b></label>
                    
                      <input class="form-control" id="num_identificacion" name="num_identificacion" #num_identificacion="ngModel"
                        [(ngModel)]="personaService.selectedPersona.num_identificacion">
                    
                      <br>
                      <label for="nombre"><b>nombre*</b></label>
                      <input type="text" class="form-control" name="nombre" id="nombre" #nombre="ngModel"
                        [(ngModel)]="personaService.selectedPersona.nombre">
                      <br>
                    
                      <label for="apellido"><b>apellido*</b></label>
                      <input type="text" class="form-control" name="apellido" id="apellido" #apellido="ngModel"
                        [(ngModel)]="personaService.selectedPersona.apellido">
                      <br>
                      <label for="telefono"><b>telefono*</b></label>
                      <input type="text" class="form-control" name="telefono" id="telefono" #telefono="ngModel"
                        [(ngModel)]="personaService.selectedPersona.telefono">
                      <br>
                      <label for="direccion"><b>direccion*</b></label>
                      <input type="text" class="form-control" name="direccion" id="direccion" #direccion="ngModel"
                        [(ngModel)]="personaService.selectedPersona.direccion">
                      <br>
                    
                      <div class="text-center">
                        <div class="btn-group btn-group-sm  text-center">
                          <button class="btn btn-outline-primary form-control" type="submit" >
                            Agregar persona
                          </button>
                    
                        </div>
                      </div>
                    
                    
                    </form>
                  </div>
   <div class="col-md-6">
                  <div class="btn-group">
                      <input type="text" class="form-control" id="buscar" placeholder="buscar persona" [(ngModel)]='buscar'>
                      <button class="btn btn-primary" (click)='consulPersona();'>consultar</button>
                    </div>
                  <table class="table table-bordered">
  
                      <tr>
                        <td> num_identificacion</td>
                        <td>nombre</td>
                        <td>apellido</td>
                        <td>telefono</td>
                        <td>direccion</td>
                      </tr>
                    
                      <tu>{{personalista.num_identificacion}}</tu>
                          <tu>{{personalista.nombre}}</tu>
                          <tu>{{personalista.apellido}}</tu>
                          <tu>{{personalista.telefono}}</tu>
                          <tu>{{personalista.direccion}}</tu>
                      <tr >
                       
                          
                        
  
  
  
  
  
  
                         <td>45333</td>
                        <td>Eduardo</td>
                        <td>Martinez</td>
                        <td>4491234567</td>
                        <td>apolinar #123</td>
                        <td>
                          <button type="button" (click)="onEdit(personalista)" class="btn btn-outline-danger btn-sm">
                            Edit
                          </button>
                        </td>
                        <td>
                    
                          <button type="button" (click)="onDelete(personalista.$keyRegistro)" class="btn btn-outline-danger btn-sm">
                            Delete
                          </button>
                        </td>
                      </tr>
                    
                    </table>
            
            
                </div>
             
                </div>
        </div>
    
    </div>
  